.text {
  color: #fffafa;
  text-shadow: #516d90 1px 1px 0px;
}
.me {
  background: url(http://clnhll.com/me.jpg) center;
  background-size: 100%;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #f87391;
}
@media (max-width: 430px) {
  .me {
    width: 150px;
    height: 150px;
  }
}
.me::after {
  content: "";
  background: #fffafa;
  position: relative;
  width: 248px;
  height: 248px;
  display: block;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #fffafa;
  box-shadow: 2px 2px 0px #516d90;
  z-index: -1;
}
@media (max-width: 430px) {
  .me::after {
    width: 148px;
    height: 148px;
  }
}
body {
  font-family: 'Asar', serif;
  background: #91bcd2 ;
  background-size: 300px;
  font-size: 16pt;
  text-align: justify;
  color: #fffafa;
  text-shadow: #516d90 1px 1px 0px;
}
a {
  display: inline-block;
  transition: all 0.3s ease;
  color: #fffafa;
  background: #f87391 ;
  background-size: 300px;
  box-shadow: 1px 1px 0px #516d90;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 -4px;
  line-height: 20pt;
}
a:hover {
  transition: all 0.3s ease;
  text-decoration: none;
  box-shadow: 3px 3px 0px #516d90;
  color: #fffafa;
}
a:focus {
  border: none;
  text-decoration: none;
  color: #fffafa;
}
a:active {
  border: none;
  text-decoration: none;
  color: #fffafa;
}
.left {
  width: 100%;
  padding: 60px 0px 45px 0px;
}
h1 {
  text-shadow: none;
  color: #f87391;
  font-size: 100px;
  background: #f87391 ;
  background-size: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}
@media (max-width: 430px) {
  h1 {
    font-size: 50px;
  }
}
h1::after {
  content: "Colin Hill";
  position: absolute;
  left: 0;
  -webkit-text-fill-color: #fffafa;
  -webkit-background-clip: text;
  z-index: -1;
  color: #fffafa;
  width: 100%;
  text-align: center;
  padding: 2px 0px 0px 4px;
  text-shadow: 2px 2px 0px #516d90;
  transition: text-shadow 0.3s ease, padding 0.3s ease;
}
@media (max-width: 430px) {
  h1::after {
    padding: 1px 0px 0px 2px;
    text-shadow: 1px 1px 0px #516d90;
  }
}
h1:hover {
  transition: all 0.3s ease;
}
h1:hover::after {
  padding: 5px 0px 0px 10px;
  text-shadow: 5px 5px 0px #516d90;
  transition: all 0.3s ease;
}
@media (max-width: 430px) {
  h1:hover::after {
    padding: 5px 0px 0px 10px;
    text-shadow: 8px 8px 0px #516d90;
  }
}
.container {
  margin-top: 20px;
}
dl {
  margin-top: 40px;
}
dt {
  font-size: 16pt;
  font-weight: 400;
  padding: 0 7px 8px 0;
  text-overflow: ellipsis;
}
dd {
  margin-bottom: 80px;
}
.preview {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 1px 1px 0px #516d90;
  transition: all 0.3s ease;
  z-index: 1000;
  padding: 4px;
  background: #f87391 ;
  background-size: 300px;
}
.preview:hover {
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px #516d90;
}
a.no {
  background: none !important;
  padding: none !important;
  transition: all 0.3s ease;
  background: none;
  box-shadow: none;
  border-radius: 4px;
  padding: none;
  margin: none;
}
.footer {
  opacity: .7;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.footer:hover {
  opacity: 1;
  transition: all 0.3s ease;
}
.wf-asar-loading body {
  font-family: serif !important;
}
