.icon {
  border-radius: 50%;
  width: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
  background: #fafafa;
  font-size: 13pt;
}
a {
  color: #ff8c96;
  font-weight: 400;
}
a:hover {
  color: #ff8c96;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #ff8c96;
}
.container {
  margin-top: 20px;
}
.left {
  float: left;
  padding-bottom: 20px;
  position: relative;
}
.content {
  margin-top: 40px;
}
.aside {
  color: #000;
}
.openquote {
  font-size: 90pt;
  color: #ff8c96;
  line-height: 13pt;
  display: block;
  margin-bottom: -35px;
  margin-left: -25px;
}
.closequote {
  font-size: 90pt;
  color: #ff8c96;
  float: right;
  margin-top: -85px;
  margin-right: -15px;
  margin-bottom: -1000px;
}
dt {
  font-size: 12pt;
  font-weight: 400;
}
@media only screen and (min-width: 531px) and (max-width: 992px) {
  .vcenter {
    display: block;
    vertical-align: middle;
    transform: translateY(50%);
    position: relative;
  }
  .left {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 736px) {
  .vcenter {
    display: block;
    vertical-align: middle;
    top: 50%;
    position: relative;
  }
  .left {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 736px) {
  .vcenter {
    display: block;
    vertical-align: middle;
    top: 50%;
    position: relative;
  }
  .left {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 414px) {
  body {
    font-size: 11pt;
  }
  h1 {
    font-size: 13pt;
  }
  .left {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 499px) {
  body {
    font-size: 12pt;
  }
  .left {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
  }
}
.preview {
  display: inline-block;
  top: 0;
  position: relative;
  margin-bottom: 15px;
  border: 2px dashed #ff8c96;
}
.preview:hover {
  border: 2px solid #ff8c96;
}
.footer {
  color: #ccc;
}
