/* mixins */
.text {
  color: #222;
  line-height: 20pt !important;
}
.wrapper {
  border: 5px solid #222;
}
.odd {
  background-color: #222;
  color: #fff;
}
.odd h3,
.odd a {
  color: #fff !important;
}
.odd .preview img {
  background-color: #fff;
}
.even {
  background-color: #fff;
  color: #222;
}
.even h3,
.even a {
  color: #222 !important;
}
.header {
  position: fixed !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  text-align: center;
  width: 100%;
  animation: fadein ease 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: -40px;
  }
  to {
    opacity: 1;
    padding-top: 0px;
  }
}
.blank {
  z-index: -1;
}
/* Google Font Loading Fix */
.wf-asar-loading body {
  font-family: -apple-system, serif !important;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-size: 15px;
  /* background: @bg fixed; */
}
body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  background: #fff fixed;
  color: #222;
  line-height: 20pt !important;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  height: 100%;
}
body a {
  font-weight: 900;
  color: #222;
  text-decoration: underline;
}
body a:focus {
  border: none;
  text-decoration: none;
  color: #fff;
}
body a:active {
  border: none;
  text-decoration: none;
  color: #222;
}
body a.no {
  background: none !important;
  padding: none !important;
  transition: all 0.3s ease;
  background: none;
  box-shadow: none;
  border-radius: 4px;
  padding: none;
  margin: none;
  color: #222;
}
body .text-center {
  text-align: center;
}
body .img-responsive {
  width: 100%;
  height: 100%;
}
body h1 {
  font-family: 'Lato', -apple-system, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  word-spacing: .2em;
  color: #222;
  line-height: 2em;
  font-size: 2em;
  margin: 0;
  transition: all 0.3s ease;
}
body .top-button {
  position: fixed;
  right: 20px;
  top: 10px;
  transition: all 0.3s ease;
  z-index: 100;
  color: #fff;
  mix-blend-mode: exclusion;
}
body .top-button a {
  cursor: pointer;
  color: #fff;
  mix-blend-mode: exclusion;
}
body .top-button:hover {
  opacity: 1;
}
body .pagenum {
  position: fixed;
  right: 20px;
  bottom: 10px;
  transition: all 0.3s ease;
  z-index: 100;
  color: #fff;
  mix-blend-mode: exclusion;
}
body .pagenum a {
  color: #fff;
  mix-blend-mode: exclusion;
  cursor: pointer;
}
body .pagenum:hover {
  opacity: 1;
}
body .info {
  opacity: 1;
}
body .button-fade {
  opacity: .7;
  transition: all .3s ease;
}
body .button-fade-enter,
body .button-fade-leave {
  opacity: 0;
  transition: all .3s ease;
}
body .page {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto 0 auto !important;
}
body .page .inner {
  max-width: 800px;
  padding: 0 40px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
body .page .inner p {
  margin-top: 0;
  text-align: left;
}
body .page .inner h3 {
  font-family: 'Lato', -apple-system, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}
body .page .inner h3 a {
  text-decoration: none !important;
}
body .page .inner .preview {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .page .inner .preview img {
  max-height: 300px;
  border-radius: 10px;
}
@media (min-width: 430px) {
  body .page .inner .embed .preview {
    display: none;
  }
}
body .page .inner .embed .embed-inner {
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 430px) {
  body .page .inner .embed .embed-inner {
    display: none;
  }
}
body .page .inner .embed .embed-inner iframe {
  -webkit-overflow-scrolling: touch !important;
  overflow: scroll !important;
}
body .footer {
  margin-top: 20px;
  transition: all 0.3s ease;
}
body .footer .inner h1 {
  color: #fff !important;
}
body .footer p {
  text-align: center !important;
}
body .footer .copy {
  transition: all 0.3s ease;
  margin-top: 50% !important;
  padding-top: 90px;
  bottom: -90px;
  position: absolute;
  width: 100%;
  border: 5px solid #222;
  margin-left: -5px;
}
body .footer .copy:hover {
  opacity: 1;
  transition: all 0.3s ease;
}
