@accent: rgb(81,109,124)+rgb(0,0,20);
@accent1: rgb(255,229,230);
@bg:rgb(150,203,185)-rgb(5,15,-15);
@accent2: rgb(238,125,135) + rgb(10,-10,10); 

@noise:; //url("http://clnhll.com/noise.png");

//@bg: rgb(120,170,225) + rgb(50,50,50);
// bootstrap warning color: #f0ad4e;
.text {
  color: @accent1;
  text-shadow: @accent 1px 1px 0px;
}
.me {
  background: url(http://clnhll.com/me.jpg) center;
  background-size: 100%;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid @accent2;
  @media (max-width: 430px) {
    width: 150px;
    height: 150px;
  }
  //box-shadow: 2px 2px 0px @accent;
  &::after {
    content:"";
    background: @accent1;
    position: relative;
    width: 248px;
    height: 248px;
    display: block;
    border-radius: 50%;
    margin: auto;
    border: 4px solid @accent1;
    box-shadow: 2px 2px 0px @accent;
    z-index: -1;
      @media (max-width: 430px) {
    width: 148px;
    height: 148px;
  }
  }
}
body {
  font-family: 'Asar', serif;
  background: @bg @noise;
  background-size: 300px;
  font-size: 16pt;
  text-align: justify;
  .text;
}
a {
  display: inline-block;
  transition:all 0.3s ease;
  color: @accent1;
  background: @accent2 @noise;
  background-size: 300px;
  box-shadow: 1px 1px 0px @accent;
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 -4px;
  line-height: 20pt;
  
  &:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 3px 3px 0px @accent;
    color: @accent1;
  }
  &:focus {
    border: none;
    text-decoration: none;
    color: @accent1;
  }
  &:active {
    border: none;
    text-decoration: none;
    color: @accent1;
  }
  
}
.left {
    width: 100%;
    padding: 60px 0px 45px 0px;
}

h1 {
  text-shadow: none;
  transition: all 0.3s ease;
  color: @accent2;
  font-size:100px;
  background: @accent2 @noise;
  background-size: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 430px) {
    font-size:50px;
  }
  transition:all 0.3s ease;
  &::after{
    content: "Colin Hill";
    position: absolute;
    left:0;
    -webkit-text-fill-color: @accent1;
    -webkit-background-clip: text;
    z-index: -1;
    color: @accent1;
    width: 100%;
    text-align: center;
    padding: 2px 0px 0px 4px;
    text-shadow: 2px 2px 0px @accent;
    @media (max-width: 430px) {
      padding: 1px 0px 0px 2px;
      text-shadow: 1px 1px 0px @accent;
    }
    transition:text-shadow 0.3s ease, padding 0.3s ease;
  }
  &:hover {
    //font-size: 105px;
    //margin-bottom: 5px;
    transition:all 0.3s ease;
    &::after{
      padding: 5px 0px 0px 10px;
      text-shadow: 5px 5px 0px @accent;
      transition:all 0.3s ease;
      @media (max-width: 430px) {
        padding: 5px 0px 0px 10px;
        text-shadow: 8px 8px 0px @accent;
      }
    }
  }

}


.container {
  margin-top: 20px;
}
dl {
  margin-top: 40px;
}
dt {
  font-size: 16pt;
  font-weight: 400;
  padding: 0 7px 8px 0;
  text-overflow: ellipsis;
}
dd {
  margin-bottom: 80px;
}
.preview {
  display:inline-block;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 1px 1px 0px @accent;
  transition:all 0.3s ease;
  z-index: 1000;
  padding: 4px;
  background: @accent2 @noise;
  background-size: 300px;
  &:hover {
    transition:all 0.3s ease;
    //background: white @noise;
      box-shadow: 3px 3px 0px @accent;
  }
}

a.no{
  background: none !important;
  padding: none !important;
  transition:all 0.3s ease;
  background: none;
  box-shadow: none;
  border-radius: 4px;
  padding: none;
  margin: none;
}
.footer {
  opacity:.7;
  margin-top: 20px;
  transition:all 0.3s ease;
  &:hover {
    opacity:1;
    transition:all 0.3s ease;
  }
}

.wf-asar-loading body { 
    font-family: serif !important; 
}