@accent: rgb(256,140,150);

// bootstrap warning color: #f0ad4e;
.icon {
  border-radius:50%;
  width: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
  background: #f3f3f3;
  font-size: 13pt;
}
a {
  color: @accent;
  font-weight: 400;
}
a:hover {
  color: @accent;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: @accent;
}
.container {
  margin-top: 20px;
}
.left {float: left;
padding-bottom: 30px;}
.content {
  margin-top:40px;
}
.aside {
  color: #000;
}
.openquote {
  font-size: 90pt;
  color: @accent;
  line-height: 13pt;  
  display: block;
  margin-bottom: -35px;
  margin-left: -25px;
}
.closequote {
  font-size: 90pt;
  color: @accent;
  float: right;
  margin-top: -85px;
  margin-right: -15px;
  margin-bottom:-1000px;
}
dt {
  font-size: 12pt;
  font-weight: 400;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.preview {
  display:inline-block;
  top:0;
  position: relative;
  margin-bottom: 15px;
  border: 2px dashed @accent
}
.preview:hover {
  border: 2px solid @accent;
}