<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Colin Hill</title>
    <meta name="viewport" content="initial-scale=1">
<style type="text/css">
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>
    
    
    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <style>
  .ng-cloak {
  display: none !important;
  }
</style>
<body ng-app="MyApp" ng-controller="MainCtrl">
  <div class="top-button" ng-show="snapIndex!==0" class="ng-cloak">
    <a href="#" ng-click="snapIndex=0; skipTimeout=true">to top</a>
  </div>
  <div class="pagenum" class="ng-cloak">
    <span class="info" ng-show="snapIndex==0">
      scroll down or click &#x261B;</span> 
    <a href="#" ng-click="scrollDown()">{{snapIndex+1}}/{{projectData.length+4}}</a>
  </div>
  <div snapscroll
     fit-window-height
     ng-init="snapIndex=0" 
     snap-index="snapIndex" 
     ng-swipe-up="snapIndex=snapIndex+1; skipTimeout=true" 
     ng-swipe-down="snapIndex=snapIndex-1; skipTimeout=true"
     snap-duration="300"
     before-snap="beforeCallback(snapIndex)"
     after-snap="afterCallback(snapIndex)"
     class="container">
 
  <div class="limit-width">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="left">
            <div class="text-center">
              <h1 class="text-center" ng-click="scrollDown()">Colin Hill</h1>
              <div class="me" title="scroll down" ng-click="scrollDown()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="limit-width" class="ng-cloak">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="row">
            <div class="col-xs-12">
              <p>&emsp; I'm a former oil and gas engineer currently transitioning into software development. I have a strong foundation in HTML, CSS <span class="fontfix">(</span>including BootStrap, Material Design Lite and LESS<span class="fontfix">)</span> and JavaScript <span class="fontfix">(</span>including jQuery and AngularJS<span class="fontfix">)</span> and I am currently learning full-stack development with the MEAN stack <span class="fontfix">(</span>MongoDB, ExpressJS, AngularJS, NodeJS<span class="fontfix">)</span>.</p>

              <p>&emsp; I've gathered some projects on this page that I've been working on as I learn to code. I did most of these as a part of the <a href='http://freecodecamp.com'>FreeCodeCamp.com</a> curriculum, and I'm working on more projects even as you read this! Also, check out <a href="http://github.com/clnhll/">my GitHub</a> where you'll find everything on and including this webpage. Want to hire me? <a title="email me!" href="mailto:me@clnhll.com?Subject=Hi%20Colin,%20I'd%20like%20to%20hire%20you" target="_top">Please do!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
    <div ng-repeat="project in loadedItems" class="limit-width projects" class="ng-cloak">
      <div class="outer">
        <div class="middle">
          <div class="inner text-center"> 
            <a class="no" style="margin-left: 0px" ng-href="{{project.link}}">
              <h3>{{project.title}}</h3>
            </a><br />
            <div ng-show="project.embed" class="embed" ng-mouseenter="cancelScroll(true)" ng-mouseleave="cancelScroll(false)">
              <div class="embed-inner">
                <iframe height='450' scrolling='yes' ng-src="{{getSrc(project.embed)}}" frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/cln/pen/RPZYae/'>Colin Hill</a> by Colin (<a href='http://codepen.io/cln'>@cln</a>) on <a href='http://codepen.io'>CodePen</a>.
                </iframe>
                <!--
                <p data-height='300' data-theme-id='0' data-slug-hash='{{project.embed}}' data-default-tab='result' data-user='cln' class='codepen'></p>
                <script async src='//assets.codepen.io/assets/embed/ei.js'></script>
                !-->
              </div>
              <div class="preview">  
                <a class="no" ng-href="{{project.link}}">
                <img ng-src="{{project.img}}" class="img-rounded img-responsive center-block" />  
                </a>
              </div>
            </div>
            <div class="preview" ng-hide="project.embed" >      

              <a class="no" ng-href="{{project.link}}">


                <img  ng-src="{{project.img}}" class="img-rounded img-responsive center-block" />                 </a>


            </div>
            <p style="text-align:justify">{{project.snippet}} &#x261E; <a ng-href="{{project.src}}">Source</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  <div class="footer text-center limit-width" class="ng-cloak">
    <div class="outer">
      <div class="middle">
        <div class="inner text-center">
          <h1>Thanks!</h1>
          <p>If you appreciated what you saw here and are interested in talking about what I can do, please feel free to email <a title="email me!" href="mailto:me@clnhll.com" target="_top">me@clnhll.com</a>
          
        </div>
        <p class="copy"  class="ng-cloak">2015 - Built with AngularJS and LESS<br /> Creative Commons Attribution 4.0 International or whatever</p>
      </div>
    </div>
 
  </div>
</body>
    <script src='http://clnhll.com/bower_components/angular/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/less.js/2.2.0/less.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js'></script>
<script src='http://clnhll.com/bower_components/angular-snapscroll/dist/angular-snapscroll.min.js'></script>
<script src='http://joelmukuthu.github.io/angular-snapscroll/bower_components/angular-swipe/dist/angular-swipe.min.js'></script>
<script src='http://code.angularjs.org/1.3.17/angular-animate.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
