body {
  background:rgb(245,159,150);
  font-family: 'Open Sans', sans-serif; 
}
.main {
  background: white;
  border: 1px solid rgb(242,118,104);
  padding:0;
  width:300px;
  margin: 10px auto;
}

.fa {
  padding-top:20px;
}
.nav-tabs li {
  background:rgb(242,118,104);
  color: white;
  border: 1px solid rgb(242,118,104);
}
.nav a {
  width: 97px; 
}
input {
  border-radius: 15px;
  border: 1px solid #eee;
  width:245px;
  margin:10px 0px 0px 10px;
  padding-left:8px;
  color:rgb(242,118,104)
}
input:focus {
    outline-width: 0;
}
input:focus {

  border: 1px solid rgb(242,118,104);

}
hr {
  width:298px;
  margin-left:-10px;
}
.nav-tabs li a:hover,.nav-tabs li a,.nav-tabs li.active a,.nav-tabs li.active a:hover,.nav-tabs li.active a:focus {
  border-radius: 0;
  color: white;
  background:rgb(242,118,104);
  border:0;
}

.midtab {
  border-left: 1px solid rgb(245,159,150) !important;
  border-right: 1px solid rgb(245,159,150) !important;
}
.glyphicon {
  color:rgb(242,118,104);
  margin-top:-5px;
}
.online {
  color: rgb(145,215,213);
  padding-left:4px;
}
.offline {
  color:rgb(242,118,104);
  padding-left:4px;

}
.userPic {
    border-radius: 50%;
    width:50px;
    height: 50px;
    margin: 4px 8px 4px 4px;
    background-color: grey;
    
}
.username, .username:hover{
  color:salmon;
}
.user {
  width:300px;
}
.shhhh {
  display: none;
}
.username : {
  color: #ddd !important;
}
.status {
  color: #bbb;
  margin-left: 63px;
  font-size:7.5pt;
  margin-top:-20px;
  margin-bottom: 5px;
}
.anything, .peepsOnline, .peepsOffline {padding: 10px}