.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: white;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
md-tabs-content-wrapper {
  background: white;
}
.inputs {
  padding: 5px 20px 0px 20px;
}
a {
   text-decoration: none;
  color: rgb(33,33,33);
}
.tabsdemoDynamicHeight {
  background: rgb(246, 246, 246)
}