body {
  font-size: 40px;
}
#header {
  margin-top: 80px;
}
#board {
  visibility: hidden;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
.tile {
  cursor: pointer;
  display: inline;
}
#x, #o {
  cursor: pointer;
}
@media only screen 
and (max-device-width : 414px)
 { 
  body {
    font-size: 16px !important;
  }
   #board {
    line-height: 20px !important;

  }
}