body {
  font-size:30px; 
  text-align: center; 
  font-family: sans-serif;
}
.header {
  margin-top: 80px;
}
.board {
  line-height: 30px; 
  width: 91px; 
  margin: 25px auto;  
}
.tile {
  display: inline-block;
  cursor: pointer;
  padding: 0px;
}
.choice {
  cursor: pointer;
}
.choices {
  margin-top: 140px;
}