<!DOCTYPE html>
<html ng-app="MyApp" ng-controller="AppCtrl">
  <head>
    <meta charset="UTF-8">
    <title>Lists: {{lists[selectedIndex].title}}</title>



    <link rel='stylesheet prefetch' href='css/angular-material.css'>

        <link rel="stylesheet" href="css/style.css">




  </head>

  <body>

    <div class="tabsdemoDynamicTabs" layout="column" >
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="" ng-click="saveTab(selectedIndex)">
      <md-tab ng-repeat="list in lists  track by $index " ng-disabled="list.disabled" label="{{list.title}}" >
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <md-card style="margin: 0 20px 20px 20px">
            <md-content style="padding: 10px 24px 0 24px" layout-padding>
            <form ng-submit="addItem($index)">
              <div layout>
              <md-input-container flex>
                <label>New item...</label>
                <input type="text" ng-model="inputItem[$index]">
              </md-input-container>
                <md-button class="md-raised md-primary" ng-disabled="!inputItem[$index]"
                           type="submit"
                           style="width:20%; height: 45px; margin: 5px 0 10px 0; margin-left:10px">add</md-button>
              </div>
              <md-input-container flex style="padding-bottom:20px;">
                <label>Live search...</label><input type="text" ng-model="myFilter.name">
              </md-input-container>

            </form>
            </md-content >
            <md-content id="listcontent" layout-padding
                        style="overflow: scroll; max-height: 400px; padding: 0 24px 0 24px">
            <!-- <div ng-repeat="item in list | filter:myFilter track by $index" class="listItem"> !-->
              <ul style="list-style-type:none; padding: 0; margin: 0"
                  dnd-list="list.items" ng-mouseup="updateCompleted()"
                  >
                <!-- track by $index  !-->
                <li
                    ng-repeat="item in list.items | filter:myFilter"
                    ng-click=""
                    dnd-draggable="item"
                    dnd-moved="list.items.splice($index, 1); updateCompleted()"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">

                  <div layout>
                    <md-button md-no-ink class="delete-button md-icon-button" aria-label="More" ng-click="deleteItem($parent.$index, $index)" style="font-size:10pt; color: crimson !important; opacity: .8; font-weight: bold">&#x2715	</md-button>

                    <md-button md-no-ink class="listItem" ng-class="{strike: item.completed, clean: !item.completed}" ng-click="item.completed=!item.completed;  updateCompleted()" flex>{{ item.name }}</md-button>

                    <md-checkbox ng-model="item.completed" class="check" ng-click="updateCompleted()" aria-label="checkbox"></md-checkbox>
                  </div>

                </li>
              </ul>
              </md-content>
              <div class="md-actions" layout="row" layout-align=" center" style="padding:24px; width:100%">

                <span flex></span>

                <md-button class="md-primary" ng-click="clear($index)">clear completed</md-button>
                <md-button class="md-primary" ng-click="removeTab( list )" ng-disabled="lists.length <= 1">Delete List</md-button>
              </div>
            </md-card>
          <br>

        </div>
      </md-tab>
    </md-tabs>
  </md-content>
  <form ng-submit="addTab(tTitle)" layout="column" class="md-padding" style="padding-top: 0;">
    <div layout="row" layout-sm="column">
      <span flex></span>
      <md-input-container style="width:50%">
        <label for="label">New list name...</label>
        <input type="text" id="label" ng-model="tTitle">
      </md-input-container>
      <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle" type="submit" style="margin-right: 0;">New List</md-button>
    </div>
  </form>
  <md-button class="md-fab md-primary md-fab-top-right" ng-click="showAlert($event)">
  INFO
  </md-button>
</div>
  <script src='js/angular.js'></script>
  <script src='js/angular-animate.min.js'></script>
  <script src='js/angular-route.min.js'></script>
  <script src='js/angular-aria.min.js'></script>
  <script src='js/angular-messages.min.js'></script>
  <script src='js/angular-material.js'></script>
  <script src='js/assets-cache.js'></script>
  <script src='js/angular-drag-and-drop-lists.js'></script>
  <script src="js/index.js"></script>




  </body>
</html>
