body {
  background: rgb(51,51,51);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.setup {
  font-size: 12pt;
}
.bup, .sup, .sdown, .bdown, .btime, .stime {
  font-size: 30pt;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60pt
}

.timer {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid rgb(154,202,39);
  margin: auto;
  font-size: 40pt;
  position: relative;  
}
.timer:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 5px solid rgb(51,51,51);
  border-radius: 50%;
  background: rgb(154,202,39);
}
.timer.break::before {
  background-color: tomato !important;
}
.status {
  margin-top: 40px
}

.time {
  margin-top: 70px;
}

.fill { 
  width:100%;
  height: 100%;
  background: rgb(51,51,51);
  z-index: -1;
  margin-top:-265px;
  position: relative;
}